hw1/p1/__pycache__
hw1/p1/material
hw1/p1/notebooks
hw1/p1/models/__pycache__
hw1/p1/mytorch/__pycache__
hw1/p1/mytorch/nn/__pycache__
hw1/p1/mytorch/optim/__pycache__
hw1/p2/material
hw1/p2/models
hw1/p2/references
hw1/bonus/material
hw1/bonus/mytorch/__pycache__
hw1/bonus/mytorch/models/__pycache__
hw1/bonus/mytorch/nn/__pycache__
hw1/bonus/mytorch/optim/__pycache__
hw1/autograd/material
hw1/autograd/__pycache__
hw1/autograd/mytorch/__pycache__
hw1/autograd/mytorch/nn/__pycache__
hw1/autograd/autograder/__pycache__
hw2/p1/autograder/__pycache__
hw2/p1/material
hw2/p1/models/__pycache__
hw2/p1/mytorch/__pycache__
hw2/p1/mytorch/nn/__pycache__
hw2/p1/mytorch/nn/notebooks
hw2/p2/material